body {
    background: linear-gradient(rgb(164,10,222), #C00000);
    color: white;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
div {
    /* border: solid 1px red; */
}
#Kalkulator {
    border: solid 1px #ccc;
    padding: 10px;
    background: linear-gradient(rgb(164, 16, 223), rgb(251, 255, 197));
    color: black;
    min-width: 200px;
}
.wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin: 10px 0;
}
.wrapper div {
    width: 100%;
    padding: 5px 10px;
}
#btn-hitung {
    font-size: 22px;
}
#Hasil {
    font-size: 22px;
}
#Hasil {
    background: #D0D0D0;
}
#operasi-temporer{
    font-size: 9px;
}

#judul {
    padding: 10px 0;
}
.tombol {
    border: solid 1px #ccc;
    box-shadow: 0 0 3px gray;
}
.tombol-aktif {
    cursor: pointer;
    transition: .2s;
    background: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.tombol-aktif:hover {
    background: linear-gradient(#fcf, #f0f);
    transform: scale(1.1);
}

.bg-green {background: #00B050;}
.bg-dark-brown {background: #4A452A;}
.bg-brown {background: #974806;}
.bg-dark-blue {background: #376091;}
.bg-purpel {background: #7030A0;}
.bg-red {background: #C00000;}

.tombol-nonaktif {
    box-shadow: none !important;
}

#btn-clear {
    text-align: center; /* Mengatur teks ke tengah */
    font-size: 24px; /* Ukuran font */
}

#btn-backspace {
    text-align: center; /* Mengatur teks ke tengah */
}
